.Lecture_state_container {
  width: 500px;
  height: 320px;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.Lecture_state_title {
  width: 470px; /* 너비 확대 */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b1b2ff;
}

.Lecture_state_date {
  font-size: 1.4rem;
}

.h2 {
  font-size: 2rem;
}

.Lecture_state_chart_container {
  margin-top: 10px;
  display: flex;
}

.Lecture_state_content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  width: 400px;
  height: 250px;
  margin: 0 auto;
  color: #b1b2ff;
}

.attendance_state, .homework_state {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 175px;
  height: 200px;
}

.attendance_chart, .homework_chart {
  width: 100%; /* 차트가 부모 컨테이너에 맞게 크기를 조정 */
  height: 200px;
}
