.teacher_teacher_notice_container {
    display: flex;
    flex-direction: column;
    width: 1120px;
    padding: 100px 68px;
    background-color: #fff;
}

.teacher_teacher_notice_title_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid var(--teacherMainColor);
    padding-bottom: 75px;
}

.teacher_teacher_notice_page_title {
    font-size: 48px;
    color: var(--teacherMainColor);
}

.teacher_teacher_notice_button_container {
    display: flex;
    gap: 30px;
}

.teacher_teacher_notice_button {
    border-radius: 15px;
    border: 1px solid;
    color: var(--teacherMainColor);
    width: 100px;
    height: 40px;
}

/* 업로드, 다운로드 */
.download-link {
    cursor: pointer;
    text-decoration: underline;
}

.download-link:hover {
    color: darkblue;
}


/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.pagination button {
    border: 1px solid var(--teacherMainColor);
    background-color: white;
    color: var(--teacherMainColor);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: var(--teacherMainColor);
    color: white;
}

.pagination button:disabled {
    background-color: lightgray;
    color: darkgray;
    cursor: not-allowed;
}

.pagination button.active {
    background-color: var(--teacherMainColor);
    color: white;
}