/* 메인 스타일 */
.teacher_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 68px;
  background-color: #fff;
}

.teacher_lecture_type_image {
  width: 250px;
  height: 250px;
  border-radius: 20px;
}

.teacher_lecture_type_container {
  width: 100%;
  display: flex;
  border-bottom: 1px solid var(--teacherMainColor);
  padding-bottom: 75px;
}

.teacher_lecture_description_box {
  padding: 0 75px;
}

.teacher_lecture_type_name {
  font-size: 48px;
  margin-bottom: 75px;
  color: var(--teacherMainColor);
}

.teacher_lecture_type_description {
  font-size: 32px;
  color: var(--teacherPrimaryColor);
}

.teacher_board_container {
  display: flex;
  justify-content: flex-start;
  padding: 75px 0 75px 0;
  gap: 30px;
  border-bottom: 1px solid var(--teacherMainColor);
}

.teacher_inquiry_board_container,
.teacher_lecture_subject_board_container {
  width: 500px;
  height: 700px;
  gap: 30px;
}

.teacher_board_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--teacherMainColor);
}

.teacher_board_title {
  font-size: 36px;
}

.teacher_go_to_show_more_page {
  font-size: 24px;
  cursor: pointer;
}

.teacher_inquiry_list_container,
.teacher_subject_list_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 599px;
  margin-top: 50px;
}

/* 과목 게시판 내부 */
.teacher_subject_list {
  width: 100%;
  height: 120px;
  border: 3px solid var(--teacherSubColor);
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.teacher_subject_title_box {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  align-items: center;
  height: 24px;
  color: var(--teacherMainColor);
}

.teacher_subject_title {
  margin: 0;
}

.teacher_subject_content_box {
  display: flex;
  justify-content: space-between;
  color: var(--teacherSubColor);
}

.teacher_subject_text_content {
  width: 216px;
  white-space: pre-wrap;
}

/* 질문 게시판  */

.teacher_inquiry_list {
  width: 100%;
  height: 120px;
  border: 3px solid var(--teacherSubColor);
  border-radius: 20px;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  margin: 0;
}

.teacher_inquiry_title_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
}

.teacher_inquiry_type {
  width: 64px;
  text-align: center;
  border: 1px solid var(--teacherPrimaryColor);
  background-color: var(--teacherAssistColor);
  padding: 4px 8px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  height: 24px;
  align-items: center;
  color: var(--teacherMainColor);
}

.teacher_inquiry_content_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--teacherSubColor);
}

.teacher_inquiry_write_date {
  width: 92px;
  color: var(--teacherMainColor);
}

.teacher_inquiry_subject_name {
  font-size: 20px;
}

.teacher_inquiry_list_title {
  width: 280px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

.teacher_inquiry_text_content {
  width: 280px;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* 강의 영상  */
.teacher_lecture_list_container {
  width: 100%;
  height: 665px;
  padding: 75px 25px;
  display: flex;
  flex-direction: column;
}

.teacher_lecture_title_box {
  display: flex;
  height: 52px;
  justify-content: space-between;
  color: var(--teacherSubColor);
}

.teacher_lecture_list_title {
  font-size: 48px;
}

.teacher_button_box {
  width: 85px;
  display: flex;
  justify-content: space-between;
  color: var(--teacherSubColor);
}

.teacher_button_box  .non_style_button {
  border: none;
  background-color: transparent;
  font-size: 28px;
  font-weight: 700;
  color: var(--teacherSubColor);
}

.teacher_button_box .non_style_button:hover {
  color: var(--teacherMainColor);
}

.teacher_lecture_video_container {
  width: 950px;
  height: 453px;
  margin: 50px 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.teacher_lecture_video {
  width: 296px;
  height: 200px;
}

.teacher_lecture_video iframe {
  border-radius: 15px;
  border: none;
}

.teacher_video_wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.teacher_show_not_open {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  pointer-events: none;
}

.teacher_not-released-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  cursor: not-allowed;
}