.manager-contact {
    padding: 20px;
    max-width: 1200px;
}

.manager-filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.status-filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f5f7;
    cursor: pointer;
}

.filter-buttons {
    display: flex;
    gap: 10px;
}

.no-inquiries-message {
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
}

.inquiries-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inquiries-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inquiry-card {
    background-color: #ffffff;
    border: 3px solid #757575;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inquiry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.inquiry-batch {
    font-size: 16px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #757575;
}

.inquiry-course {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 20px;
    cursor: pointer;
}
.inquiry-course:hover {
    color: #757575;
}

.inquiry-instructor,
.inquiry-date {
    font-size: 14px;
    color: #757575;
}

.inquiry-question {
    font-size: 15px;
    color: #333;
    flex-grow: 1;
}

.inquiry-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inquiry-status {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

/* i 태그 색상 설정 */
.status-answered i {
    color: #28a745; /* 초록색 */
}

.status-unanswered i {
    color: #dc3545; /* 빨간색 */
}


/* Modal */
.inquiry-manager-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.inquiry-manager-content {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 12px;
    max-width: 600px;
    width: 100%;
    position: relative;
    z-index: 1010;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.inquiry-manager-close {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.inquiry-manager-title {
    text-align: center;
    margin-bottom: 40px;
}

.inquiry-manager-title h1 {
    font-size: 28px;
    color: #47625b;
}

.inquiry-manager-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inquiry-manager-input,
.inquiry-manager-textarea {
    border: 1px solid #8c9a94;
    border-radius: 8px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box; /* 크기 충돌 방지 */
}

.inquiry-manager-input {
    height: 50px;
}

.inquiry-manager-textarea {
    height: 150px;
    resize: none;
}

.inquiry-manager-button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.inquiry-manager-submit-button,
.inquiry-manager-cancel-button {
    padding: 10px 20px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.inquiry-manager-submit-button {
    background-color: #47625b;
    color: #ffffff;
}

.inquiry-manager-cancel-button {
    background-color: transparent;
    border: 1px solid #8c9a94;
    color: #47625b;
}

.inquiry-manager-submit-button:hover,
.inquiry-manager-cancel-button:hover {
    background-color: #61827d;
    color: #ffffff;
}