.subject_board_detail_main_container {
  display: flex;
  flex-direction: column;
  width: 1120px;
  padding: 100px 68px;
  background-color: #fff;
}

.student_subject_board_page_title {
  padding: 75px 0;
  font-size: 48px;
  font-weight: 700;
}

.student_subject_board_title_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--studentMainColor);
  align-items: center;
  padding-bottom: 40px;
}

.student_subject_board_title {
  font-size: 36px;
  color: black;
}

/* 과목 게시글 내용 스타일 */
.student_subject_board_body_container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 50px 0;
  gap: 50px;
  font-size: 36px;
  border-bottom: 1px solid var(--studentMainColor);
}

.lecture_type_name {
  font-weight: 700;
}

.subject_board_download_file_name {
  text-align: right;
  font-size: 28px;
  text-decoration: underline;
  text-underline-offset: 12px;
}

.student_subject_board_content {
  font-size: 28px;
  color: #000;
}

.student_subject_board_view_count_icon {
  padding-top: 5px;
}

.student_subject_board_content_image {
  width: 100%;
  border-radius: 10px;
}

.subject_board_main_title {
  margin-top: 50px;
  font-weight: 700;
}
