.student-contact {
    padding: 20px;
    max-width: 1200px;
}

.filter-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.filter-logo {
    width: 50px;
    margin-right: 10px;
    cursor: pointer;
}

.curriculum-filter,
.status-filter {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f4f5f7;
    cursor: pointer;
}

.no-inquiries-message {
    text-align: center;
    font-size: 18px;
    color: #757575;
    margin-top: 20px;
}

.inquiries-border {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #f9f9f9;
}

.inquiries-grid {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.inquiries-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.inquiry-card {
    background-color: #ffffff;
    border: 3px solid #757575;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 15px;
    width: 100%; /* 전체 너비 사용 */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.inquiry-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 10px;
}

.inquiry-batch {
    font-size: 16px;
    background-color: #e0e0e0;
    border-radius: 20px;
    padding: 5px 10px;
    border: 1px solid #757575;
}

.inquiry-course {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    flex-grow: 1;
    margin-left: 20px;
}

.inquiry-instructor,
.inquiry-date {
    font-size: 14px;
    color: #757575;
}

.inquiry-question {
    font-size: 15px;
    color: #333;
    flex-grow: 1;
}

.inquiry-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inquiry-status {
    font-size: 14px;
    color: #666;
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: auto;
}

.status-answered i {
    color: #28a745;
}

.status-unanswered i {
    color: #dc3545;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 반투명 배경 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* 다른 요소 위에 나타나도록 설정 */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 600px;
    width: 100%;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}