.survey-detail {
  font-family: 'Arial', sans-serif;
  color: #333;
  padding: 20px;
  background-color: #f5f5f5;
}

.survey-detail-title {
  margin-bottom: 20px;
}

.survey-detail-title h2 {
  font-size: 20px;
  font-weight: normal;
  color: #333;
}

.survey-detail-title span {
  background-color: #e0e0e0;
  padding: 2px 8px;
  border-radius: 10px;
  font-size: 14px;
  margin-left: 10px;
}

.survey-content {
  display: flex;
  justify-content: space-between;
}

.left-container, .right-container {
  width: 48%;
}

.survey-card {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.survey-card h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}

.survey-info, .completed-survey-item {
  background-color: #f9f9f9;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 10px;
}

.survey-count {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  margin-top: 5px;
}

.survey-end-button {
  width:100px;
  background-color: #757575;
  color: white;
  border: none;
  padding: 10px ;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 10px;
}

.survey-chart {
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  margin-bottom: 20px;
}

.survey-chart h3 {
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}

.survey-chart canvas {
  max-height: 300px;
}

.completed-surveys {
  max-height: 510px;
}

.completed-surveys-list {
  overflow-y: auto;
  max-height: 510px;
  padding-right: 10px;
}

.completed-survey-item {
  padding: 15px;
  border-bottom: 1px solid #ddd;
}

.completed-survey-item:last-child {
  border-bottom: none;
}
