.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-content {
  position: relative;
  background: rgba(0, 0, 0, 0.7);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  height: 80%;
  max-width: 800px;
  max-height: 600px;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.recent-video-player-container {
  position: relative;
  background: black;
  width: 100%;
  height: 96%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.recent-video-player-container.fullscreen {
  width: 100vw;
  height: 100vh;
}

.recent-youtube-player {
  width: 100%;
  height: 100%;
}

.recent-video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background: rgba(0, 0, 0, 0.5);
  padding-top: 16px;
  border-radius: 5px;
  opacity: 1;
  transition: opacity 0.3s;
  color: white;
  width: 102%;
  gap: 4px;
}

.recent-video-controls.hidden {
  opacity: 0;
}

.recent-progress-bar-track,
.recent-progress-bar {
  position: absolute;
  width: 98.5%;
  top: -10px;
}

.recent-full-button,
.recent-video-time,
.recent-play-button,
.recent-mute-button {
  padding-left: 20px;
  color: white;
}

.recent-select-button {
  margin-left: 1840px;
  background-color: transparent;
  color: white;

  outline: none;
  border-radius: 10px;
  padding: 5px;
}
