.student_video_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.student_video_modal_content {
  background: #000;
  border-radius: 8px;
  position: relative;
  width: 100vw;
  height: 100vh;
  padding-top: 48px;
}

.student_video_modal_close {
  position: absolute;
  top: 10px;
  left: 9px;
  background: none;
  border: none;
  font-size: 32px;
  cursor: pointer;
  background-color: #fff;
  z-index: 2001;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  padding: 0px;
  line-height: 48px;
  font-size: 20px;
}
