.student_video_modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2000;
}

.student_video_modal_content {
  background: #000;
  border-radius: 8px;
  position: relative;
  width: 100vw;
}

.student_video_modal_close {
  position: absolute;
  top: -20px;
  right: 20px;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
  z-index: 100;
  border: 1px solid;
  padding: 10px;
  width: 100px;
}

.student_video_modal_close:hover{
  background-color: var(--studentMainColor);
}
