.login_page {
  width: 100vw;
  height: 76vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background:#f0f0f0;
}

.login-container {
  width: 450px;
  padding: 40px;
  border: 5px solid #5c8d89;
  border-radius: 30px;
  background-color: #f4f9f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.login-title {
  color: #4caf50;
  margin-bottom: 20px;
}

.login-input-group {
  margin-bottom: 30px;
  text-align: left;
}

.login-input {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 2px solid #5c8d89;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.login-input::placeholder {
  color: #b4b4b8;
}

.login-checkbox-group {
  color: #74b49b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.save-id {
  cursor: pointer;
}

.save-id:hover {
  color: #5c8d89;
}

.login-checkbox-group input[type="checkbox"] {
  margin-right: 10px;
}

.login-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.login-button,
.login-signup-button {
  font-size: 16px;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-button {
  background-color: #a7d7c5;
  border: 5px solid #74b49b;
  color: #000000;
}

.login-signup-button {
  background-color: #a7d7c5;
  border: 5px solid #74b49b;
  color: #000000;
}

.login-button:hover {
  background: #5c8d89;
  border: 5px solid #a7d7c5;
}

.login-signup-button:hover {
  background: #5c8d89;
  border: 5px solid #a7d7c5;
}

.login-id-title,
.login-pw-title {
  color: #74b49b;
  margin-left: 10px;
  display: block;
  margin-bottom: 5px;
}

.user-found {
  color: #74b49b;
}

.user-found-id:hover {
  color: #5c8d89;
  cursor: pointer;
}

.user-found-pw:hover {
  color: #5c8d89;
  cursor: pointer;
}
