.password-reset-container {
  width: 450px;
  padding: 40px;
  border: 5px solid #5C8D89;
  border-radius: 30px;
  background-color: #f4f9f4;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  margin-top: 100px;
}

.password-reset-title {
  color: #4caf50;
  margin-bottom: 20px;
}

.password-reset-input-group {
  margin-top:20px;
  margin-bottom: 20px;
  text-align: left;
}

.password-reset-label {
  color: #74b49b;
  margin-left: 10px;
  display: block;
  margin-bottom: 5px;
}

.password-reset-input {
  width: 95%;
  height: 40px;
  padding: 10px;
  border: 2px solid #5C8D89;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.password-reset-input::placeholder {
  color: #b4b4b8;
}

.password-reset-button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.password-reset-button,
.password-reset-back-button {
  font-size: 16px;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.password-reset-button {
  background-color: #A7D7C5;
  border: 5px solid #74B49B;
  color: #000000;
}

.password-reset-back-button {
  background-color: #A7D7C5;
  border: 5px solid #74B49B;
  color: #000000;
}

.password-reset-button:hover {
  background: #5C8D89;
  border: 5px solid #A7D7C5;
}

.password-reset-back-button:hover {
  background: #5C8D89;
  border: 5px solid #A7D7C5;
}
