/* DefaultHeader.css */
#default_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: white;
  box-shadow: 0px 4px 2px -2px gray;
}

.default_h-inner {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.default_h-logo img {
  height: 50px;
}

.default_h-login_btn {
  display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 100px;
    height: 40px;
    background: var(--studentMainColor);
    border-radius: 2rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 700;
    transition: background 0.3s ease;
    text-decoration: none;
}

.default_h-login_btn:hover {
   background: var(--studentSubColor);
    font-weight: 800;
}

.default_h-user_info {
  padding: 10px 20px;
  color: #333;
  font-weight: bold;
}
